html(lang="en")
    head
        title Project-1
        script(src="index.js")
        link(rel="stylesheet" href="style.css")
    body#body 
        div(id="backgroundDiv")
        .main_div(onmouseenter="addButtons()" onmouseleave="deleteButtons()" id="main_div")
            h1.div_title Student
            .scroller 
                .studentCard(onclick="showPreview()")
                    a.studentCardLink Ali
                .studentCard(onclick="showPreview()")
                    a.studentCardLink Ali
                .studentCard(onclick="showPreview()")
                    a.studentCardLink Ali
                .studentCard(onclick="showPreview()")
                    a.studentCardLink Ali
                .studentCard(onclick="showPreview()")
                    a.studentCardLink Ali
                .studentCard(onclick="showPreview()")
                    a.studentCardLink Ali
                .studentCard(onclick="showPreview()")
                    a.studentCardLink Ali
                .studentCard(onclick="showPreview()")
                    a.studentCardLink Ali