html(lang="en")
    head
        title Project-1
        script(src="index.js")
        link(rel="stylesheet" href="style.css")
    body 
        div.main_div(onmouseover="addButtons()")
            h1.div_title Student
            .scroller 
                .studentCard
                    a.studentCardLink Ali
                .studentCard
                    a.studentCardLink Ali
                .studentCard
                    a.studentCardLink Ali
                .studentCard
                    a.studentCardLink Ali
                .studentCard
                    a.studentCardLink Ali
                .studentCard
                    a.studentCardLink Ali
                .studentCard
                    a.studentCardLink Ali
                .studentCard
                    a.studentCardLink Ali